.user{
  padding:5px;
  border: 1px solid purple;
  background-color: plum;
  border-radius: 8px;
  color:white;
  margin: 5px auto;
}
.bot{
  padding:5px;
  border: 1px solid rgb(4, 97, 97);
  background-color: rgb(166, 166, 248);
  border-radius: 8px;
  color:rgb(255, 255, 255);
  margin: 5px auto;
}
.header{
  height: 10vh;
  margin-top: 1px;
}
.chat-box{
  height: 70vh;
  overflow-y: auto;
}
.chat-box::-webkit-scrollbar{
      width: 10px;
  }
.chat-box::-webkit-scrollbar-thumb{
      width: 5px;
      background: rgba(0,0,0,.1);
  }
.input{
  height: 10vh;
}